In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.figure_factory as ff
import geopandas as gpd

In [4]:
data = pd.read_csv('/home/slindhult/assignments/Capstone-1/Data/pollution_us_2000_2016.csv')

In [6]:
data.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [7]:
#Identifying null values
lst=[]

for col in data.columns:
    lst.append((col, data[col].isnull().sum()))
lst

[('Unnamed: 0', 0),
 ('State Code', 0),
 ('County Code', 0),
 ('Site Num', 0),
 ('Address', 0),
 ('State', 0),
 ('County', 0),
 ('City', 0),
 ('Date Local', 0),
 ('NO2 Units', 0),
 ('NO2 Mean', 0),
 ('NO2 1st Max Value', 0),
 ('NO2 1st Max Hour', 0),
 ('NO2 AQI', 0),
 ('O3 Units', 0),
 ('O3 Mean', 0),
 ('O3 1st Max Value', 0),
 ('O3 1st Max Hour', 0),
 ('O3 AQI', 0),
 ('SO2 Units', 0),
 ('SO2 Mean', 0),
 ('SO2 1st Max Value', 0),
 ('SO2 1st Max Hour', 0),
 ('SO2 AQI', 872907),
 ('CO Units', 0),
 ('CO Mean', 0),
 ('CO 1st Max Value', 0),
 ('CO 1st Max Hour', 0),
 ('CO AQI', 873323)]

In [8]:
cols_list = ['NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI']
a = data.copy()
purged = a[(a[['NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI']] >0).all(1)]

In [26]:
purged['City'].unique()

array(['Phoenix', 'Scottsdale', 'Tucson', 'Concord', 'Bethel Island',
       'San Pablo', 'Pittsburg', 'Calexico', 'Bakersfield', 'Burbank',
       'Los Angeles', 'Long Beach', 'Hawthorne', 'Costa Mesa', 'Rubidoux',
       'Not in a city', 'Arden-Arcade', 'Victorville', 'Chula Vista',
       'San Diego', 'San Francisco', 'Capitan', 'Lompoc', 'Goleta',
       'Vandenberg Air Force Base', 'Davenport', 'Vallejo', 'Welby',
       'Washington', 'Winter Park', 'Chicago', 'Cicero',
       'Calumet City (PU RR name Calumet Park (sta.))',
       'Indianapolis (Remainder)', 'Kansas City', 'Ashland',
       'Lexington-Fayette (corporate name for Lexington)', 'Henderson',
       'Louisville', 'Paducah', 'Baton Rouge', 'Detroit', 'Sunset Hills',
       'Ladue', 'Ferguson', 'St. Ann', 'St. Louis', 'Camden', 'New York',
       'Holtsville', 'Winston-Salem', 'Charlotte', 'Park Hill',
       'Ponca City', 'Pittsburgh', 'Beaver Falls', 'Reading', 'Altoona',
       'Bristol', 'Johnstown', 'Scranton', 'Lancaster', 'New Castle',
       'Norristown', 'Freemansburg', 'Philadelphia', 'Charleroi',
       'Greensburg', 'York', 'Dallas', 'El Paso', 'Houston',
       'Seven Corners', 'McLean', 'Alexandria', 'Oakland', 'Crockett',
       'West Los Angeles', 'East Saint Louis', 'Boston',
       'Breckenridge Hills', 'Boulder City', 'Newark', 'Miami',
       'Grand Rapids', 'Manchester', 'Fresno', 'Denver', 'Kenner', 'Erie',
       'New Haven', 'Presque Isle', 'Essex', 'Tulsa', 'Wilkes-Barre',
       'Annandale', 'Milwaukee', 'Tijuana', 'Rosarito', 'Mexicali',
       'North Little Rock', 'Berkeley', 'Eureka', 'Benicia', 'Westport',
       'East Hartford', 'Valrico', 'Northbrook', 'Des Moines',
       'Beltsville', 'Portland', 'Waco', 'Fontana', 'Cherry Tree',
       'San Antonio', 'San Jose', 'Athens', 'Cupertino', 'Cornwall',
       'Reno', 'Deer Park', 'East Highland Park', 'Hampton', 'El Cajon',
       'Wilmington', 'Blaine', 'Albuquerque', 'Rochester', 'Cleveland',
       'Cincinnati', 'Oklahoma City', 'East Providence', 'Sioux Falls',
       'Salt Lake City', 'Austin', 'Roosevelt', 'Birmingham', 'Vinton',
       'Seattle', 'Fairbanks', 'Grantsville', 'Raleigh',
       'Dentsville (Dents)'], dtype=object)

In [10]:
purged.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
9,9,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-03,Parts per billion,...,Parts per billion,5.250000,11.0,19,16.0,Parts per million,1.762500,2.5,8,28.0
13,13,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-04,Parts per billion,...,Parts per billion,7.083333,16.0,8,23.0,Parts per million,1.829167,3.0,23,34.0
17,17,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-05,Parts per billion,...,Parts per billion,8.708333,15.0,7,21.0,Parts per million,2.700000,3.7,2,42.0
21,21,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-06,Parts per billion,...,Parts per billion,6.761905,17.0,7,24.0,Parts per million,2.308333,3.6,9,41.0

In [11]:
state = purged[[
       'State', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
        'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI']].copy()

In [12]:
s = state.groupby('State').agg({'NO2 Mean':'mean',
       'NO2 1st Max Value':'mean', 'NO2 1st Max Hour':'mean', 'NO2 AQI':'mean',
       'O3 Mean':'mean', 'O3 1st Max Value':'mean', 'O3 1st Max Hour':'mean', 'O3 AQI':'mean',
       'SO2 Mean':'mean', 'SO2 1st Max Value':'mean', 'SO2 1st Max Hour':'mean', 'SO2 AQI':'mean',
        'CO Mean':'mean', 'CO 1st Max Value':'mean', 'CO 1st Max Hour':'mean', 'CO AQI':'mean'})

In [13]:
total = s[['NO2 AQI',
       'O3 AQI', 'SO2 AQI', 'CO AQI']].copy()

In [14]:
total.head()
total.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

                   State    NO2 AQI     O3 AQI    SO2 AQI     CO AQI
0                Alabama  25.087613  40.368580  10.247734   4.664653
1                 Alaska  22.988827  17.402235  16.385475   7.363128
2                Arizona  41.637709  38.088430   5.581743  10.854434
3               Arkansas  26.501274  36.251592   3.566242   7.013376
4             California  32.635874  35.614299   5.707975   9.998355
5               Colorado  41.748817  33.935610  13.718576   8.749023
6            Connecticut  29.444871  37.931432   7.446517   5.137685
7      Country Of Mexico  43.339033  32.906320   8.390335  20.408178
8               Delaware  27.167785  35.107383   3.640940   4.872483
9   District Of Columbia  35.859132  34.530117  15.630505  13.613990
10               Florida  22.531197  39.798763   5.020798   7.047218
11               Georgia  33.653608  37.789691   4.134021   7.356701
12                Hawaii  12.471774  26.821573   3.907258   5.649194
13                 Idaho  28.295652  36.982609   1.686957   3.460870
14              Illinois  32.786361  33.124746  15.586213   7.410460
15               Indiana  29.086247  44.506605  18.010878   6.728050
16                  Iowa  20.592297  34.551129   4.272244   3.918991
17                Kansas  27.331698  34.751717  12.142623   8.144586
18              Kentucky  30.531394  44.706738  22.985452   4.749617
19             Louisiana  33.641354  37.104758  15.057182   8.413998
20                 Maine  19.920245  28.684049   6.281442   4.419479
21              Maryland  26.348858  36.800457   9.378082   5.823288
22         Massachusetts  34.461611  25.458314  10.697598   6.914272
23              Michigan  35.408680  42.132007  21.477396   7.156420
24             Minnesota  22.145631  34.626214   2.135922   4.276699
25              Missouri  33.119842  43.553995  20.066725   8.230465
26                Nevada  37.664298  30.134991   3.081705   7.150977
27         New Hampshire  20.100152  35.591806  10.320182   5.993930
28            New Jersey  37.864237  35.105752  15.361200   7.872097
29            New Mexico  31.778571  35.841071   2.210714   4.973214
30              New York  37.531194  31.572044  18.493678   6.984438
31        North Carolina  30.494322  49.232799  13.705077   7.280561
32          North Dakota  24.166667  27.217391   2.181159   2.898551
33                  Ohio  27.166997  33.314954  17.659659   4.833796
34              Oklahoma  20.797980  41.128123   6.997873   4.303030
35                Oregon  21.708738  25.240561   2.928803   6.689320
36          Pennsylvania  28.632740  41.482082  19.168045   5.313719
37          Rhode Island  23.787535  35.991501   4.473088   4.974504
38        South Carolina   5.891358  41.666667   6.753086   2.170370
39          South Dakota  18.224576  34.902542   2.122881   3.338983
40             Tennessee   3.077922  43.948052   4.493506   3.415584
41                 Texas  32.781609  38.393986   8.420259   6.498461
42                  Utah  34.300885  38.766962   2.321534   7.123894
43              Virginia  26.289090  38.404662  13.697961   6.656523
44            Washington  26.132353  27.191176   3.352941   3.073529
45             Wisconsin  33.222222  24.416667  12.541667   7.527778
46               Wyoming  15.262548  43.374517   7.629344   2.737452

In [15]:
contiguous_usa = gpd.read_file('data/cb_2018_us_state_20m/cb_2018_us_state_20m.shp')
contiguous_usa.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,24,01714934,0400000US24,24,MD,Maryland,00,25151100280,6979966958,"MULTIPOLYGON (((-76.04621 38.02553, -76.00734 ..."
1,19,01779785,0400000US19,19,IA,Iowa,00,144661267977,1084180812,"POLYGON ((-96.62187 42.77925, -96.57794 42.827..."
2,10,01779781,0400000US10,10,DE,Delaware,00,5045925646,1399985648,"POLYGON ((-75.77379 39.72220, -75.75323 39.757..."
3,39,01085497,0400000US39,39,OH,Ohio,00,105828882568,10268850702,"MULTIPOLYGON (((-82.86334 41.69369, -82.82572 ..."
4,42,01779798,0400000US42,42,PA,Pennsylvania,00,115884442321,3394589990,"POLYGON ((-80.51989 40.90666, -80.51964 40.987..."

In [16]:
contiguous_usa=contiguous_usa.rename(columns={'NAME': 'State'})

In [17]:
contiguous_usa.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,State,LSAD,ALAND,AWATER,geometry
0,24,01714934,0400000US24,24,MD,Maryland,00,25151100280,6979966958,"MULTIPOLYGON (((-76.04621 38.02553, -76.00734 ..."
1,19,01779785,0400000US19,19,IA,Iowa,00,144661267977,1084180812,"POLYGON ((-96.62187 42.77925, -96.57794 42.827..."
2,10,01779781,0400000US10,10,DE,Delaware,00,5045925646,1399985648,"POLYGON ((-75.77379 39.72220, -75.75323 39.757..."
3,39,01085497,0400000US39,39,OH,Ohio,00,105828882568,10268850702,"MULTIPOLYGON (((-82.86334 41.69369, -82.82572 ..."
4,42,01779798,0400000US42,42,PA,Pennsylvania,00,115884442321,3394589990,"POLYGON ((-80.51989 40.90666, -80.51964 40.987..."

In [18]:
merged = pd.merge(contiguous_usa, total, left_on='State', right_on='State')

In [19]:
merged = merged[['NO2 AQI', 'O3 AQI', 'SO2 AQI', 'CO AQI', 'State','geometry']]
merged = merged.loc[~merged['State'].isin(['Alaska', 'Hawaii'])]
merged.rename(columns = {'NO2 AQI':'NO2_AQI'})

,NO2_AQI,O3 AQI,SO2 AQI,CO AQI,State,geometry
0,26.348858,36.800457,9.378082,5.823288,Maryland,"MULTIPOLYGON (((-76.04621 38.02553, -76.00734 ..."
1,20.592297,34.551129,4.272244,3.918991,Iowa,"POLYGON ((-96.62187 42.77925, -96.57794 42.827..."
2,27.167785,35.107383,3.640940,4.872483,Delaware,"POLYGON ((-75.77379 39.72220, -75.75323 39.757..."
3,27.166997,33.314954,17.659659,4.833796,Ohio,"MULTIPOLYGON (((-82.86334 41.69369, -82.82572 ..."
4,28.632740,41.482082,19.168045,5.313719,Pennsylvania,"POLYGON ((-80.51989 40.90666, -80.51964 40.987..."
5,26.132353,27.191176,3.352941,3.073529,Washington,"MULTIPOLYGON (((-123.23715 48.68347, -123.0704..."
6,25.087613,40.368580,10.247734,4.664653,Alabama,"POLYGON ((-88.46866 31.89386, -88.46866 31.933..."
7,26.501274,36.251592,3.566242,7.013376,Arkansas,"POLYGON ((-94.61792 36.49941, -94.36120 36.499..."
8,31.778571,35.841071,2.210714,4.973214,New Mexico,"POLYGON ((-109.04919 31.79655, -109.04830 32.0..."
9,32.781609,38.393986,8.420259,6.498461,Texas,"POLYGON ((-106.62345 31.91403, -106.63011 31.9..."
10,32.635874,35.614299,5.707975,9.998355,California,"MULTIPOLYGON (((-118.59397 33.46720, -118.4847..."
11,30.531394,44.706738,22.985452,4.749617,Kentucky,"POLYGON ((-89.54443 36.57451, -89.47935 36.566..."
12,33.653608,37.789691,4.134021,7.356701,Georgia,"POLYGON ((-85.60516 34.98468, -85.47434 34.983..."
13,33.222222,24.416667,12.541667,7.527778,Wisconsin,"MULTIPOLYGON (((-86.93428 45.42115, -86.83575 ..."
14,21.708738,25.240561,2.928803,6.689320,Oregon,"POLYGON ((-124.55244 42.84057, -124.48094 42.9..."
15,33.119842,43.553995,20.066725,8.230465,Missouri,"POLYGON ((-95.76564 40.58521, -95.53318 40.582..."
16,26.289090,38.404662,13.697961,6.656523,Virginia,"MULTIPOLYGON (((-76.02347 37.28907, -75.98712 ..."
17,3.077922,43.948052,4.493506,3.415584,Tennessee,"POLYGON ((-90.30070 35.02879, -90.26530 35.040..."
18,33.641354,37.104758,15.057182,8.413998,Louisiana,"POLYGON ((-94.04305 32.69303, -94.04303 32.797..."
19,37.531194,31.572044,18.493678,6.984438,New York,"MULTIPOLYGON (((-72.01893 41.27411, -71.92680 ..."
20,35.408680,42.132007,21.477396,7.156420,Michigan,"MULTIPOLYGON (((-84.61622 45.89447, -84.51789 ..."
21,28.295652,36.982609,1.686957,3.460870,Idaho,"POLYGON ((-117.24303 44.39097, -117.21507 44.4..."
22,22.531197,39.798763,5.020798,7.047218,Florida,"MULTIPOLYGON (((-81.81169 24.56874, -81.75127 ..."
24,32.786361,33.124746,15.586213,7.410460,Illinois,"POLYGON ((-91.50626 40.20016, -91.49696 40.248..."
25,22.145631,34.626214,2.135922,4.276699,Minnesota,"POLYGON ((-97.22904 49.00069, -96.93096 48.999..."
26,29.086247,44.506605,18.010878,6.728050,Indiana,"POLYGON ((-88.05947 37.86669, -88.04086 37.891..."
27,34.461611,25.458314,10.697598,6.914272,Massachusetts,"MULTIPOLYGON (((-70.27553 41.31046, -70.19371 ..."
28,27.331698,34.751717,12.142623,8.144586,Kansas,"POLYGON ((-102.05174 40.00308, -101.83216 40.0..."
29,37.664298,30.134991,3.081705,7.150977,Nevada,"POLYGON ((-120.00480 39.31648, -120.00303 39.4..."
30,29.444871,37.931432,7.446517,5.137685,Connecticut,"POLYGON ((-73.69594 41.11526, -73.48271 41.212..."
31,37.864237,35.105752,15.361200,7.872097,New Jersey,"POLYGON ((-75.55945 39.62981, -75.53514 39.647..."
32,30.494322,49.232799,13.705077,7.280561,North Carolina,"POLYGON ((-84.28660 35.20576, -84.28322 35.226..."
33,34.300885,38.766962,2.321534,7.123894,Utah,"POLYGON ((-114.05247 37.60478, -114.05173 37.7..."
34,24.166667,27.217391,2.181159,2.898551,North Dakota,"POLYGON ((-104.04874 48.99988, -103.37547 48.9..."
35,5.891358,41.666667,6.753086,2.170370,South Carolina,"POLYGON ((-83.35324 34.72865, -83.32006 34.759..."
36,41.748817,33.935610,13.718576,8.749023,Colorado,"POLYGON ((-109.05996 38.49999, -109.05151 39.1..."
37,18.224576,34.902542,2.122881,3.338983,South Dakota,"POLYGON ((-104.05770 44.99743, -104.03914 44.9..."
38,20.797980,41.128123,6.997873,4.303030,Oklahoma,"POLYGON ((-103.00252 36.67519, -103.00196 36.9..."
39,15.262548,43.374517,7.629344,2.737452,Wyoming,"POLYGON ((-111.05689 44.86666, -111.04432 45.0..."
40,19.920245,28.684049,6.281442,4.419479,Maine,"MULTIPOLYGON (((-68.92401 43.88541, -68.87478 ..."
42,20.100152,35.591806,10.320182,5.993930,New Hampshire,"POLYGON ((-72.55611 42.86625, -72.53147 42.897..."
43,41.637709,38.088430,5.581743,10.854434,Arizona,"POLYGON ((-114.79968 32.59362, -114.80939 32.6..."
44,23.787535,35.991501,4.473088,4.974504,Rhode Island,"MULTIPOLYGON (((-71.63147 41.16668, -71.59334 ..."

In [20]:
import json
from bokeh.io import show
from bokeh.models import (CDSView, ColorBar, ColumnDataSource,
                          CustomJS, CustomJSFilter, 
                          GeoJSONDataSource, HoverTool,
                          LinearColorMapper, Slider)
from bokeh.layouts import column, row, widgetbox
from bokeh.palettes import brewer
from bokeh.plotting import figure
# Input GeoJSON source that contains features for plotting
geosource = GeoJSONDataSource(geojson = merged.to_json())

In [22]:
# Define color palettes
palette = brewer['BuGn'][8]
palette = palette[::-1] # reverse order of colors so higher values have darker colors
# Instantiate LinearColorMapper that linearly maps numbers in a range, into a sequence of colors.
color_mapper = LinearColorMapper(palette = palette, low = 0, high = 40)
# Define custom tick labels for color bar.
tick_labels = {'0':'0','3': '3', '5': '5',
 '10':'10', '15':'15',
 '20':'20', '25':'25',
 '30':'30', '35':'35+'}
# Create color bar.
color_bar = ColorBar(color_mapper = color_mapper, 
                     label_standoff = 8,
                     width = 500, height = 20,
                     border_line_color = None,
                     location = (0,0), 
                     orientation = 'horizontal',
                     major_label_overrides = tick_labels)

# Create figure object.
p = figure(title = 'Average Air Pollution Levels, 2000-2016', 
           plot_height = 600 ,
           plot_width = 950, 
           toolbar_location = 'below',
           tools = 'pan,wheel_zoom, box_zoom, reset')
p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None
# Add patch renderer to figure.
states = p.patches('xs','ys', source = geosource,
                   fill_color = {'field':'NO2_AQI', 'transform': color_mapper},
                   line_color = 'black', 
                   line_width = 0.25, 
                   fill_alpha = 1)
# Create hover tool
p.add_tools(HoverTool(renderers = [states],
                      tooltips = [('State','@State'),
                                ('NO2_AQI','@NO2_AQI')]))
p.add_layout(color_bar, 'below')
show(p)

RuntimeError: Models must be owned by only a single document, UnionRenderers(id='1049', ...) is already in a doc